.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    line-height: 1.6;
}

.App-logo {
    width: 100px;
    height: auto;
    pointer-events: none;
}

.App-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
}

.App-main {
    padding: 2rem;
    text-align: center;
    flex: 1;
}

.App-link {
    color: #61dafb;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

blockquote {
    background-color: #e6e6e6;
    border-left: 5px solid #007bff;
    padding: 10px;
    margin: 20px 0;
}

blockquote p {
    font-size: x-large;
    font-style: italic;
}

blockquote footer {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.App-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.DanCalc-panel {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "disp disp disp disp disp disp"
      "clrAC    num7 num8 num9      opMult  opDiv"
      "clrC     num4 num5 num6      opAdd   opSubt"
      ".        num1 num2 num3      opAdd   opSubt"
      ".        .    num0 .         opEqual opEqual"
      ;
    }

.DanCalc-display {
    grid-area: disp;
}

.DanCalc-ac-button {
    background-color: #FFaa00;
    grid-area: clrAC;
}

.DanCalc-c-button {
    background-color: red;
    grid-area: clrC;
}

.DanCalc-zero-button,
.DanCalc-one-button,
.DanCalc-two-button,
.DanCalc-three-button,
.DanCalc-four-button,
.DanCalc-five-button,
.DanCalc-six-button,
.DanCalc-seven-button,
.DanCalc-eight-button,
.DanCalc-nine-button
{
    background-color: green;
}

.DanCalc-zero-button {grid-area: num0;}
.DanCalc-one-button {grid-area: num1;}
.DanCalc-two-button {grid-area: num2;}
.DanCalc-three-button {grid-area: num3;}
.DanCalc-four-button {grid-area: num4;}
.DanCalc-five-button {grid-area: num5;}
.DanCalc-six-button {grid-area: num6;}
.DanCalc-seven-button {grid-area: num7;}
.DanCalc-eight-button {grid-area: num8;}
.DanCalc-nine-button {grid-area: num9;}

.DanCalc-add-button,
.DanCalc-subtract-button,
.DanCalc-multiply-button,
.DanCalc-divide-button
{
    background-color: black;
}

.DanCalc-add-button {grid-area: opAdd;}
.DanCalc-subtract-button {grid-area: opSubt;}
.DanCalc-multiply-button {grid-area: opMult;}
.DanCalc-divide-button {grid-area: opDiv;}
.DanCalc-equal-button {
    background-color: navy;
    grid-area: opEqual;
}

@media screen and (max-width: 600px) {
    .App-header, .App-footer {
        padding: 1rem;
    }
}
  